<b>Menu</b><br>
<a href="/">Home</a><br>
<a href="/create">Create</a><br>
<a href="/abou
t">About</a><br>
<a href="/edit">Edit</a><br>
<br><br> 
<h2>About us</h2>
<p>This wiki was created by </p>' + $myinfo +
<p>Student ID:51555401</p>' + '</Student>
<p>Computer science student' + '<Computer>
<p>University of Aberdeen' +  '<University>
</body></html>