
<p>Enter text in the field below to save.</p>
<form action="/save" method="post">
<textarea rows="15" cols="50" name="message" placeholder="<%= @extant %>">
</textarea> <br /r>
<button type="submit" name="save">save</button>
<button type="reset" name="cancel" onclick=location.href="/">Cancel</button>
</form>
</section>
<h2>This is your own personal create page!</h2>
