<b>Menu</b><br>
<a href="/">Home</a><br>
<a href="/create">Create</a><br>
<a href="/about">About</a><br>
<a href="/edit">Edit</a><br>
<a href="/login">Login</a><br>
<br><br>
<h2>Login</h2><br>
<form action="/login" method="post">  
Username:<input type="text" name="username"><br>
Password: 
<input type="password" name="password"><br>
<input type="submit" value="Login!">  
</form>  
<p>Not have an account? <a href="/createaccount">Create Account</a></p>